<header class="header">
    <a href="/dashboard" class="header__logo">Admin Panel</a>
    
    <nav class="header__nav">
        <ul >
            <li class="">
                <a href="/" class=" <%= isActiveRoute('/', currentRoute) %> ">Home</a>
            </li>
        </ul>
    </nav>
   
   
</header>